body {
    background-color:#252626;
    height: 100%;
}
.d-flex {
  display: flex !important;
}
.m-0 {
  margin: 0 !important;
}
.p-0 {
  padding: 0 !important;
}
.center-crap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-page {
  padding-top: 32vh;
  h2 {
    margin-top: 13px;
    padding-top: 13px;
  }
}
.skills {
  padding-top: 20vh;
}
h1{
  color: white;
  font-family: Marker Felt;
  font-size: 60px;
  line-height: 53px;
  -webkit-animation: myanim2 1s .3s backwards;
  animation: myanim2 1s .3s backwards;
}

.h1_tags::before {
  content: '<h1>';
  font-family: 'Brush Script MT', italic;
  color: #515152;
  font-size: 20px;
  position: absolute;
  margin-top: -48px;
  margin-left: -20px;
  
}
.h1_tags::after{
    content: '</h1>';
    font-family: 'Brush Script MT', italic;
    color: #515152;
    font-size: 20px;
    position: absolute;
    margin-left: -20px;
  }

h2 {
    color: #8d8d8d;
    margin-top: 9px;
    font-weight: normal;
    font-size: 11px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 3px;
    -webkit-animation: myanim2 1s .4s backwards;
    animation: myanim2 1s .4s backwards;
  }
.sup{
  display: inline-block;
  transition: all .3s ease-out;
}
.paragraphs  {
margin-top: 20px;
padding-top: 20px;
width:30vw;
}

.top-tags {
    bottom: auto;
    top: 0px;
    padding: 20px;
    -webkit-animation: myanim2 1s .2s backwards;
    animation: myanim2 1s .2s backwards;
  }
  .bottom-tags{
    padding: 20px;
    bottom: 0px;
    -webkit-animation: myanim2 1s .6s backwards;
    animation: myanim2 1s .6s backwards;
  }
  .tags{
    left: 80px;
    color: #515152;
    position: absolute;
    font-size: 18px;
    font-family: 'Brush Script MT', italic
  }
  .bounce span {
    display: inline-block;
}

.grow {
  animation: rubberBand 1s ease-in;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
    color: #F6C026;
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
    
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
    
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
    color: #F6C026;
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
    
  }

  75% {
    transform: scale3d(1.05, .95, 1);
    color: #F6C026;
  }

  to {
    transform: scale3d(1, 1, 1);
    
  }
}
  
  @media screen and (max-width: 1350px) {
    .paragraphs  {
      width:40vw;
      }
  .home-page{
    padding-left: 2vw;
  }
  
  }
  @media screen and (max-width: 960px) {
    .home-page {
      padding-left: 5vw;
    }
    .paragraphs  {
      width:50vw;
      }
      .top-tags {
        bottom: auto;
        top: 0px;
        padding: 20px;
        padding-top: 40px;
        -webkit-animation: myanim2 1s .2s backwards;
        animation: myanim2 1s .2s backwards;
      }
      .bottom-tags{
        padding: 20px;
        bottom: 0px;
        -webkit-animation: myanim2 1s .6s backwards;
        animation: myanim2 1s .6s backwards;
      }
      .tags{
        left: -30px !important;
        color: #515152;
        position: absolute;
        font-size: 18px;
        font-family: 'Brush Script MT', italic
      }
      h1 {
        font-size: 40px !important;
        line-height: 40px !important;
      }
  }
  @media screen and (max-width: 550px) {
    .paragraphs  {
      width:80vw;
      }
    .tags{
     display: none;
    }
    h1 {
      font-size: 35px !important;
      line-height: 40px !important;
    }
    .home-page{
      padding-top: 23vh;
    }
    .about {
      padding-top: 10vh !important;
    }
    .skills {
      padding-top: 10vh !important;
      padding-bottom: 8vh !important;
    }
   
}
@media screen and (max-width: 420px) {
  .tags{
   display: none;
  }
  h1 {
    font-size: 30px !important;
    line-height: 40px !important;
  }

  .home-page{
    padding-top: 23vh;
    padding-left: .0vw;
  }
  .about {
    padding-top: 10vh !important;
  }
  .skills {
    padding-top: 10vh !important;
    padding-bottom: 8vh !important;
  }
 
}
  
  
@import './home.scss';
@import './navbar.scss';
@import './about.scss';
@import './work.scss';