.navbar {
    background: #181818;
    position: absolute;
    height: 100%;
    width: 60px;
    top: 0;
    z-index: 3;
    min-height: 500px;
    padding: 0;
}
.navbar nav{
    margin-left: 0;
    cursor: pointer;
    display: block;
    text-align: center;
    position: absolute;
    height: 210px;
    top:50%;
    margin-top: -120px;
    width: 100%;
}
.logonav{
    position: absolute;
    width: 100%;
    height: 8vh;
    object-fit: cover;
}
.navbar nav a {
    font-size: 22px;
    color: #4d4d4e;
    display: block;
    line-height: 51px;
    height: 51px;
    position: relative;
    text-decoration: none;
}
.navbar nav a i {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.navbar nav a:hover i {
    opacity: 0;
}
.navbar nav a.active,a:hover {
    color:#F6C026 ;
}
.navbar nav a:after {
    content: '';
    font-size: 9px;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.navbar nav a:first-child:after {
    content: 'HOME';
}
.navbar nav a:first-child + a:after {
    content: 'ABOUT';
}
.navbar nav a:first-child + a +  a:after {
    content: 'SKILLS';
}
.navbar nav a:first-child + a + a + a:after {
    content: 'MY WORK';
}
// .navbar nav a:first-child + a + a + a + a:after {
//     content: 'CONTACT';
// }

.navbar nav a:hover:after{
    opacity: 1;
    color:#934A5F;
}


.navbar ul {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;
}
.navbar ul li a {
    padding: 7px 0;
    display: block;
    font-size: 15px;
    line-height: 16px;
    color: #4d4d4e;
}
.navbar ul li a:hover {
    color:#F6C026;
}

// media stuff for nav
   
   @media (max-width: 960px){
       .navbar {
           width: 100%;
           height: 60px;
           position: sticky;
           top: 0;
           left:0;
           z-index: 3;
           min-height: 0;
       }
       .navbar nav {
           width: 50%;
           position: fixed;
           left: 50%;
           margin-left: -21%;
           float: left;
           overflow: hidden;
           text-align: center;
           height: 60px;
           top: 0;
           margin-top: 0;
       }

       .logonav{
           display: none;
       }
       .social-media  {
           display: none;
       }
       .navbar nav a{
           float:left;
           margin-left: 10%;
           line-height: 60px;
           height: 60px;
       }
     
       .navbar ul {
           position: static;
           bottom: 20px;
           width: auto;
           height:60px;
           line-height: 60px;
           display: block;
           padding: 0;
           list-style: none;
           text-align: center;
           margin: 0;
           float: right;
       }
       .navbar ul li {
           float:right;
           height:60px;
           line-height: 60px;
           margin:0 10px;
       }
       .navbar ul li a {
           line-height: 60px;
           padding: 0;
       }
}
   

@media (max-width: 530px){
    .navbar {
        width: 100%;
        height: 60px;
        position: sticky;
        top: 0;
        left:0;
        z-index: 3;
        min-height: 0;
    }
    .social-media{
        display: none !important;
    }
    .social-media  {
        display: none;
    }
    .navbar nav {
        width: 60%;
        position: fixed;
        float: left;
        left: 50%;
        margin-left: -30%;
        overflow: hidden;
        text-align: center;
        height: 60px;
        top: 0;
        margin-top: 0;
    }
}

